<section class="mb-4">
  <h2>User info</h2>

  <div class="user-profile">
    <div class="text-center"><%= image_tag user.get_profile_image(128, 128), width: 128, height: 128 %></div>
    <div class="font-weight-bold h5 my-2"><%= user.name %></div>
    <p><%= user.introduction %></p>
  </div>

  <% if user == current_user %>
    <div class="text-center">
      <%= link_to edit_user_path(user), class: "mx-auto btn btn-sm btn-outline-secondary px-3" do %>
        <i class="fa-solid fa-user-gear"></i> Edit
      <% end %>
    </div>
  <% end %>
</section>

<%= render "books/book_form", book: Book.new, heading: "New book", action: :create %>