<section class="mb-4">
  <% user = User.find(book.user_id) %>
  <h2>Book detail</h2>

  <div class="card my-4">
    <div class="card-body d-flex">
      <div class="mr-3">
        <%= link_to user_path(user) do %>
          <%= image_tag user.get_profile_image(48, 48), width: 48, height: 48 %>
        <% end %>
      </div>
      <div class="w-100">
        <div class="d-flex mb-1">
          <div class=""><%= link_to user.name, user_path(user) %></div>
          <div class="ml-auto">
            <% if user == current_user %>
              <%= link_to edit_book_path(book), class: "btn btn-outline-primary btn-sm" do %>
                <i class="fa-solid fa-pencil"></i> Edit
              <% end %>

              <%= link_to book_path(book), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-outline-danger btn-sm" do %>
                <i class="fa-solid fa-trash-can"></i> Delete
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="">
          <div class="h3"><%= book.title %></div>
          <p><%= book.body %></p>
        </div>
      </div>
    </div>
  </div>
</section>